<ion-header>
  <ion-toolbar>
    <ion-title>
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row >
    <ion-col>
        <img src="./assets/imgs/img2.jpg" class="imageprofile"> 
    </ion-col>
   <ion-col>
     <h1>13k</h1>
     <p>Profile Views</p>
   </ion-col>
  </ion-row> 

  <ion-row id="row2" >
    <ion-col>
    <p class="realName">Mark cubin</p>
    </ion-col>
    <ion-col>
        <button class="button button-assertive button-outline">Connect</button>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col>
      <ion-card class="card1">

      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row >
      <ion-col>
        <ion-card class="card2">
          <ion-row>
              <ion-col>
                  <img src="./assets/imgs/facebook.png" class="social">
              </ion-col>
    
              <ion-col>
                  <img src="./assets/imgs/snapchat.jpg" class="social">
              </ion-col>

              <ion-col>
                  <img src="./assets/imgs/instagram.png" class="social">
              </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                  <img src="./assets/imgs/tiktok.jpg" class="social">
              </ion-col>
    
              <ion-col>
                  <img src="./assets/imgs/tw.png" class="social">
              </ion-col>

              <ion-col>
                  <img src="./assets/imgs/whatsapp.jpg" class="social">
              </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-content>

